$primaryFont: Roboto, sans-serif;
$logoFont: Raleway, sans-serif;
$mediumWeight: 500;
$boldWeight: 700;
$blackWeight: 900;
$smallLetterSpacing: 0.01em;
$preSmallLetterSpacing: 0.02em;
$mediumLetterSpacing: 0.03em;
$largeLetterSpacing: 0.06em;

$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$backgroundColor: #ffffff;
$footerTextColor: rgba(255, 255, 255, 0.6);
$secondaryBackgroundColor: #f5f4fa;
$footerBackgroundColor: #2f303a;
$logoHeaderColor: #000000;
$borderHeaderColor: #ececec;
$backDropColor: rgba(0, 0, 0, 0.2);
$onlineCommentColor: rgba(117, 117, 117, 0.5);
