.footer {
  background-color: $footerBackgroundColor;
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    text-align: center;
    @include desktop {
      display: flex;
      align-items: baseline;
      text-align: start;
    }
  }
  &__content {
    @include tablet {
      display: flex;
      gap: 165px;
      align-items: baseline;
    }
    @include desktop {
      gap: 70px;
    }
  }
  &__left {
    margin-bottom: 60px;
    @include tablet {
      margin-left: 76px;
    }
    @include desktop {
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }
}
.connect {
  margin-top: 20px;
  &__link {
    color: $backgroundColor;
    text-decoration: none;
    font-style: normal;
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
  &__link_grey {
    color: $footerTextColor;
    text-decoration: none;
    font-style: normal;
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
  @include desktop {
    &__item:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}
.invait__title {
  font-weight: $boldWeight;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: $mediumLetterSpacing;
  text-transform: uppercase;
  color: $backgroundColor;
  margin-bottom: 20px;
}
.social {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 60px;
  @include desktop {
    justify-content: flex-start;
  }
  @include tablet {
    margin-bottom: 0px;
  }
  &__icon_white {
    fill: $backgroundColor;
  }
  &__link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $accentColor;
    }
  }
}
.subscribe {
  margin-left: auto;
  &__label {
    font-weight: $boldWeight;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: $mediumLetterSpacing;
    text-transform: uppercase;
    color: $backgroundColor;
  }
}
.connection {
  margin-top: 20px;
  position: relative;
  @include desktop {
    margin-top: 20px;
  }
  &__input {
    min-width: 300px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: $backgroundColor;
    background-color: transparent;
    padding: 16px 15px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: $mediumLetterSpacing;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: $mediumLetterSpacing;
      color: rgba(255, 255, 255, 0.6);
    }
    @include tablet {
      width: 450px;
    }
    @include desktop {
      width: 358px;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: $accentColor;
    border-radius: 4px;
    color: $backgroundColor;
    font-weight: $boldWeight;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    letter-spacing: $largeLetterSpacing;
    padding: 10px 28px;
    margin: 20px auto 0;
    @include desktop {
      display: inline-flex;
      margin-left: 12px;
      margin-top: 0;
    }
  }
  &__icon {
    fill: $backgroundColor;
    margin-left: auto;
  }
}
